@import "variables.scss";


header {
    background: $brand_color;
    margin: 0 0 ;
    padding: 0 0 50px;
    text-align: center;
    position: relative;

    h1.branding  {
        position: relative;
        z-index: 5;

        @media (min-width: $mobile_width) {
            top: -30px;
        }
    }


    #date_box {
        background: $yellow;
        padding: 10px 50px 50px 10px;
        color: $black;
        display: inline-block;
        font-weight: bold;
        font-size: 4em;
        line-height: 1;
        text-align: left;
        transform: rotate(-10deg);
        position: relative;
        top: 00px;

        z-index: 4;
        @media (min-width: $mobile_width) {
            top: 30px;
            right: 60px;
        }
    }



    $road_sign_size: 200px;
    #road_sign {
        display: none;
        background: url('../images/road_sign.svg') no-repeat center center;
        background-size: cover;
        height: $road_sign_size;
        width: $road_sign_size;
        bottom:100px;
        right: 70px;
        z-index: 3;
        position: absolute;


        @media (min-width: $mobile_width) {
                display: block;
        }
    }
    $octagon_size: 150px;
    #octagon {
    display: none;
        background: url('../images/octagon.svg') no-repeat center center;
        background-size: cover;
        height: $octagon_size;
        width: $octagon_size;
position: absolute;
        bottom:20px;
        left: 130px;
        z-index: 30;

        @media (min-width: $mobile_width) {
                display: block;
        }
    }



    #header_background {
        position: absolute;
        top:0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: no-repeat center center;
        background-size: cover;
        opacity: 0.4;
        filter: blur(100px)  ;
        animation: unBlur 5s forwards;
    }






    nav {
        padding: 20px 0 0px;
        margin: 0 0 30px;
        position: relative;
        z-index: 100;
        background: url('../images/warning_line.svg') repeat-x top center;
        background-size: 62px 52px;

        a#menu_button {
            display: block;
            background: url('../images/menu.svg') no-repeat center center;
            background-size: 30px;
            text-indent: -9999px;
            height: 30px;
            width: 30px;
            position: absolute;
            top:35px;
            right: 20px;
            z-index: 100;

            @media (min-width: $mobile_width) {
                display: none;
            }
        }


        $menu_width:300px;

        ul#menu_navigation {
            position: fixed;
            top:0;
            bottom: 0;
            right: 0;
            height: auto;
            display: block;
            padding: 50px 0 0;
            transform: translateX( $menu_width );
            text-transform: uppercase;
            width:  $menu_width;
            background: transparentize($brand_color, 0.06);
            text-align: left;
            transition: all 0.3s;

            @media (min-width: $mobile_width) {
                width: auto;
                background: white;
                display: inline-block;
                position: relative;
                top: 15px;
                right: auto;
                bottom: auto;
                padding: 0 20px;
                text-align: center;
                transform: none;
            }


            &.show_menu {
                transform: translateX( 0 );
            }

            li {
                    display: block;
                    margin: 0;
                    padding: 0;
                    font-size: 1.2em;
                    font-weight: bold;

                @media (min-width: $mobile_width) {
                    display: inline-block;
                }


                a {
                    display: block;
                    padding: 15px 25px;


                    @media (min-width: $mobile_width) {
                        padding: 15px 15px;
                    }

                    &:link, &:active, &:hover, &:visited {
                        color: white;
                        border: 0;

                        @media (min-width: $mobile_width) {
                            color: $brand_color;
                        }
                    }
                    &:hover {
                        background: transparentize(darken($brand_color, 10), 0.7);
                    }


                }

            }
        }
    }
}
