@import "variables.scss";


header {
    background: $brand_color;
    margin: 0 0 ;
    padding: 0 0 50px;
    text-align: center;
    position: relative;

    h1.branding  {
        position: relative;
        z-index: 5;
        top: -30px;
    }

    .date_box {
        transform: rotate(-10deg);
        position: relative;
        top: 30px;
        right: 60px;
        z-index: 4;
    }

    #header_background {
        position: absolute;
        top:0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: no-repeat center center;
        background-size: cover;
        opacity: 0.4;
        filter: blur(100px)  ;
        animation: unBlur 5s forwards;
    }

    @keyframes unBlur {
        from {
            filter: blur(100px)  ;
        }
        to {
            filter: blur(0px)  ;
        }
    }





    nav {
        padding: 20px 0 0px;
        margin: 0 0 30px;
        position: relative;
        z-index: 100;
        background: url('../images/warning_line.svg') repeat-x top center;
        background-size: 62px 52px;

        a#menu_button {
            display: block;
            background: url('../images/menu.svg') no-repeat center center;
            background-size: 30px;
            text-indent: -9999px;
            height: 30px;
            width: 30px;
            position: absolute;
            top:35px;
            right: 20px;
            z-index: 100;

            @media (min-width: $mobile_width) {
                display: none;
            }
        }


        ul#menu_navigation {
            position: relative;
            height: auto;
            background: white;
            text-align: center;
            display: inline-block;
            padding: 0 20px;
            transform: none;
            top: 15px;
            text-transform: uppercase;

            @media (min-width: $mobile_width) {

            }


            &.show_menu {

            }

            li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    font-size: 1.2em;
                    font-weight: bold;

                @media (min-width: $mobile_width) {

                }


                a {
                    display: block;
                    padding: 15px 15px;

                    &:link, &:active, &:hover, &:visited {
                        color: $brand_color;
                        border: 0;

                        @media (min-width: $mobile_width) {

                        }
                    }
                    &:hover {
                        background: transparentize($brand_color, 0.6);
                    }

                    @media (min-width: $mobile_width) {

                    }

                }

            }
        }
    }
}
