@import "variables.scss";



h1,h2,h3,h4,h5,h6 {
    font-family: $heading_font_stack;
    line-height: 120%;

}

h1 {
    font-size: 3em;
    padding: 0 0 30px;
    font-weight: bold;

}

h2 {
    font-size: 3em;
    padding: 0 0 20px;
    font-weight: bold;


        @media (min-width: $mobile_width) {
            font-size: 3.5em;
        }


}

h3 {
    font-size: 3em;
    padding: 0 0 20px;
    font-weight: bold;

}

h4 {
    font-size: 2em;
    padding: 0 0 20px;
    text-transform: uppercase;
}

p {
    font-size: $font_size;
    line-height: 160%;
    padding: 0 0 30px;
    margin:0;
}

li {
    font-size: $font_size;
    padding:0 0 5px;
    line-height: 160%;
}

dd, dt {
    font-size: $font_size;
    padding: 0 0 5px;
}
dt {
    font-weight: bold;
}

a {
    text-decoration: none;
    border: 0;
    color: $brand_color;
    transition: all 0.3s;
    &:link, &:active, &:visited {
        text-decoration: none;
        color: $brand_color;
    }
    &:hover {
        text-decoration: none;
        color: $brand_color_hover;
    }
    &.button {
        color: white;
    }
}


strong, b {font-weight: bold}
em, i {font-style: italic}


table {
    margin:10px 0 30px;
    width: 100%;

    th, td {
        padding: 8px;
        font-size: $font_size;
    }

    th {
        font-weight: bold;
        text-align: left;
        color: $brand_color;

    }
    tr:nth-child(2n-1) {
        td {
            background-color: lighten($brand_color, 52);
        }
    }

    td {

    }


}


form {}

select {
    &:focus {
        box-shadow: 0 0 10px $brand_color;
    }
}

input {
    font-family: $font_stack;
    padding: 10px;
    font-size: $font_size;


}

hr {
    appearance: none;
    border:0;
    border-bottom: 3px solid $yellow;
    margin: 20px 0;
    padding: 0;

    &.hr_blue { border-bottom-color: $blue; }
    &.hr_green { border-bottom-color: $green; }
    &.hr_yellow { border-bottom-color: $yellow; }
    &.hr_black { border-bottom-color: $black; }
}


cite {

    color: $medium_grey;
    font-size: #{$font_size * 0.8};
}

h6 a, a h6 {
  font-size: 21px;
  background: $blue;
  padding: 20px 40px;
  color: white;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  &:hover{
    color:white;
    background: darken($blue, 10);
  }
}
