

$blue: #0068a0;
$green: #39a935;
$yellow: #ffec00;
$black: #000000;

$primary_color: $blue;
$brand_color: $blue;
$brand_color_hover: darken($blue, 10);


// , for use with MyFonts
$font_stack: 'Messina Sans',  'Roboto', sans-serif;
$heading_font_stack:  $font_stack;
$font_size: 1.65em;
$font_color: #222;


$light_grey: #eee;
$medium_grey: #888;
$dark_grey: #222;

$border_radius: 10px;



$transition_time: 0.3s;


$mobile_width: 768px;
$tablet_width: 992px;



@keyframes unBlur {
    from {
        filter: blur(100px)  ;
    }
    to {
        filter: blur(0px)  ;
    }
}



@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
